/* google font */
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;400;600&display=swap");

/* variables */
:root {
    /* font family */
    --ff-base: "Poppins", sans-serif;
    /* font weight */
    --fw-extralight: 200;
    --fw-regular: 400;
    --fw-semibold: 600;
    /* color */
    --clr-heading: hsl(234, 12%, 34%);
    --clr-paragraph: hsl(229, 6%, 66%);
    --clr-background: hsl(0, 0%, 98%);

    --clr-primary-red: hsl(0, 78%, 62%);
    --clr-primary-cyan: hsl(180, 62%, 55%);
    --clr-primary-orange: hsl(34, 97%, 64%);
    --clr-primary-blue: hsl(212, 86%, 64%);
}

/* reset */
/* box-model */
*,
*::before,
*::after {
    box-sizing: border-box;
}
/* remove default margin and padding */
* {
    margin: 0;
    padding: 0;
}

/* general styling */
body {
    /* layout */
    height: 100vh;
    /* display */
    display: grid;
    place-content: center;
    /* font */
    font-family: var(--ff-base);
    font-size: 15px;
    line-height: 1.5;
    font-weight: var(--fw-regular);

    /* background */
    background-color: var(--clr-background);
}

/* display */
.grid {
    display: grid;
}

.flex {
    display: flex;
}
