/* google font */
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;400;600&display=swap");

/* variables */
:root {
    /* font family */
    --ff-base: "Poppins", sans-serif;
    /* font weight */
    --fw-extralight: 200;
    --fw-regular: 400;
    --fw-semibold: 600;
    /* color */
    --clr-heading: hsl(234, 12%, 34%);
    --clr-paragraph: hsl(229, 6%, 66%);
    --clr-background: hsl(0, 0%, 98%);

    --clr-primary-red: hsl(0, 78%, 62%);
    --clr-primary-cyan: hsl(180, 62%, 55%);
    --clr-primary-orange: hsl(34, 97%, 64%);
    --clr-primary-blue: hsl(212, 86%, 64%);
}

/* reset */
/* box-model */
*,
*::before,
*::after {
    box-sizing: border-box;
}
/* remove default margin and padding */
* {
    margin: 0;
    padding: 0;
}

/* general styling */
body {
    /* layout */
    min-height: 100vh;
    width: 100%;
    /* display */
    display: grid;
    place-content: center;
    /* font */
    font-family: var(--ff-base);
    font-size: 15px;
    line-height: 1.5;
    font-weight: var(--fw-regular);

    /* background */
    background-color: var(--clr-background);
}

/* display */
.grid {
    display: grid;
}

.flex {
    display: flex;
}

main {
    width: 375px;
    height: auto;
    place-content: center;

    padding-block: 5rem;
}

.feature.container {
    width: 328px;
}

.feature {
    text-align: center;
}

h1.title {
    font-size: 20px;
    font-weight: var(--fw-extralight);
    color: var(--clr-heading);
    margin-bottom: 1rem;
}

h1.title span {
    font-weight: var(--fw-semibold);
}

p.subtitle {
    color: var(--clr-paragraph);
    margin-bottom: 2rem;
}

.card {
    width: 328px;
    text-align: left;
    position: relative;
    background-color: #fff;
    margin-bottom: 2rem;
    padding: 1.5rem;
    box-shadow: 0px 20px 20px hsla(212, 48%, 32%, 0.15);
}

.supervisor::before,
.team-builder::before,
.karma::before,
.calculator::before {
    content: "";
    width: 100%;
    height: 4px;
    position: absolute;
    top: 0;
    left: 0;
}
.supervisor::before {
    background-color: var(--clr-primary-cyan);
}
.team-builder::before {
    background-color: var(--clr-primary-red);
}

.karma::before {
    background-color: var(--clr-primary-orange);
}

.calculator::before {
    background-color: var(--clr-primary-blue);
}

.card .title {
    color: var(--clr-heading);
    font-size: 18px;
    font-weight: var(--fw-semibold);
    margin-bottom: 4px;
}

.card .description {
    color: var(--clr-paragraph);
    margin-bottom: 2rem;
}

.card .icon-container {
    justify-content: flex-end;
}

/* desktop */

@media screen and (min-width: 600px) {
    main {
        width: 1100px;
    }

    .feature.container {
        width: 1000px;
    }

    h1.title {
        font-size: 2rem;
    }
    h1.title span {
        display: block;
    }

    p.subtitle {
        width: 400px;
        margin-inline: auto;
    }

    .cards.container {
        width: 1000px;
    }

    .cards {
        margin-block: 5rem;
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: repeat(4, 1fr);
        gap: 2rem;
    }

    .card {
        width: fit-content;
        margin-bottom: 0;
    }

    .supervisor {
        grid-column: 1;
        grid-row-start: 2;
        grid-row-end: 4;
    }

    .team-builder {
        grid-column: 2;
        grid-row-start: 1;
        grid-row-end: 3;
    }

    .karma {
        grid-column: 2;
        grid-row-start: 3;
        grid-row-end: 5;
    }

    .calculator {
        grid-column: 3;
        grid-row-start: 2;
        grid-row-end: 4;
    }
}
